body{
    font-family: "Arial";
}
table{
    
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
h1{
    text-align: center;
}
th,td{
   text-align: left;
   padding: 8px;
   border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}